/* #region algemeen */
body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    /* background: url(assets/achtergrond.jpg) top no-repeat fixed;
    background-size: cover; */
    margin:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.blok {
    border: 0.25rem solid lime;
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem lime;
    padding: 2.5rem;
}

button {
    background-color: lime;
    color: black;
    padding: 0.75rem 1.5rem;
    border: none;
    font-weight: bold;
    margin-top: 1.25rem;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #008800;
    color: white;
}

input[type="text"] {
    border: 0.1rem solid lime;
    outline:none;
    background-color: black;
    color: lime;
    padding: 0.625rem;
    font-size: 1.2rem;
    width: 9rem;
    text-align: center;
}

input[type="radio"] {
    appearance: none;
    width: 3rem;
    height: 3rem;
    border: 0.25rem solid lime;
    box-shadow: 0 0 0.75rem #008800;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

input[type="radio"]:checked {
    background: radial-gradient(transparent, rgba(0, 128, 0, 0.5));
}

input:checked::after{
    color: lime;
    content: "✓";
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 300%;
}
/* #endregion */
/* #region login */
.login{
    .main-content {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .blok {
        text-align: center;
        padding-bottom: 0;
    }

    h1 {
        letter-spacing: 0.3rem;
    }

    .melding {
        color: red;
    }
}
/* #endregion */
/* #region test */
.test {
    .main-content {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 17.5%;
    }

    img {
        width: 75%;
    }

    .blok {
        width: 45%;
        margin-top: 9rem;
        height: fit-content;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
    }

    ul {
        padding: 0;
        margin-left: 3rem;
    }

    .antwoord {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    input {
        margin-right: 2rem;
    }

    label {
        font-size: 1.5rem;
        font-weight: bold;
    }

    button {
        font-size: 2rem;
        font-weight: normal;
        display: block;
        margin: auto;
        box-shadow: 0 0 1rem lime;
    }

    h2 {
        width: 17.5%;
        text-align: right;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-top: 6rem;
    }
}
/* #endregion */
/* #region dashboard */
.dashboard {
    .main-content {
        padding: 5rem;
    }

    .blok {
        text-align: center;
        width: fit-content;
    }

    h1 {
        letter-spacing: 0.15rem;
    }

    button {
        margin: 0;
        font-size: large;
    }
}
/* #endregion */
/* #region header */
header {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 3rem lime;
    padding: 2rem;
    margin: 2rem;
    background-color: #101010;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
    }

    h2 {
        margin: 0;
        font-size: xx-large;
    }

    .drop-button {
        margin-top: 0;
    }
    .dropdown {
        position: relative;
        margin-left: auto;
    }
    .drop-content {
        display: none;
        position: absolute;
        background-color: limegreen;
        box-shadow: 0px 8px 16px 0px rgba(0,128,0,0.2);
        width: 100%;
    }
    .drop-content a {
        display: block;
        color: black;
        padding: 1rem;
        text-decoration: none;
    }
    .drop-content a:hover {
        background-color: #008800;
    }
    .dropdown:hover .drop-content {
        display: block;
    }

    li {
        background-color: #101010;
        border: 0.25rem solid lime;
        border-radius: 1rem;
        padding: 1rem;
        margin-right: 2rem;
        transition: 0.3s;
    }

    li:hover {
        background-color: #008800;
    }
}

header::before {
    border-radius: 1.5rem;
    content: "";
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    background: linear-gradient(45deg, lime, #00ff88, lime, #008800, lime);
    background-size: 400%;
    z-index: -1;
    animation: animateGradient 5s linear infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}
/* #endregion */
/* #region index */
.index {
    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* #endregion */
/* #region eliminatie */
.eliminatie {
    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;
    }

    .logo {
        width: 10%;
    }

    img {
        width: 100%;
    }

    button {
        margin: 0;
        font-size: larger;
    }
    
    form {
        display: flex;
        justify-content: center;
    }
}
/* #endregion */