/* #region algemeen */
body {
    background-color: black;
}

button {
        background-color: lime;
        color: black;
        padding: 0.75rem 1.5rem;
        border: none;
        font-weight: bold;
        margin-top: 1.25rem;
        transition: 0.3s;
        cursor: pointer;
    }

button:hover {
    background-color: #008800;
    color: white;
}

html {
    font-size: 16px;
}
/* #endregion */
/* #region index */
.index{
    body {
        color:lime;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: 'Courier New', Courier, monospace;
        height: 100vh;
        margin:0;
    }

    .blok {
        border: 2px solid lime;
        border-radius: 0.625rem;
        box-shadow: 0 0 1.25rem lime;
        padding: 2.5rem;
        text-align: center;
    }

    input {
        border: 0.1rem solid lime;
        outline:none;
        background-color: black;
        color: lime;
        padding: 0.625rem;
        font-size: 1.2rem;
        width: 9rem;
        text-align: center;
    }

    h1 {
        letter-spacing: 0.3rem;
    }
}
/* #endregion */
/* #region test */
.test {
    body {
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }

    header {
        display: flex;
        align-items: center;
    }

    h1 {
        width: 50%;
    }

    h2 {
        margin-left: auto;
        margin-right: 1.25rem;
    }

    .antwoord {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    img {
        width: 15rem;
    }

    input {
        appearance: none;
        width: 3rem;
        height: 3rem;
        border: 0.0625rem solid white;
        border-radius: 5px;
        background: linear-gradient(lime, #008800);
        cursor: pointer;
        margin-right: 2rem;
    }

    input:checked {
        background: linear-gradient(#00bf00, #008800);
    }

    input:checked::after{
        color: black;
        content: "✓";
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
    }

    ul {
        margin-left: 15rem;
        padding: 0;
    }

    label {
        font-size: 1.5rem;
        font-weight: bold;
    }

    button {
        font-size: medium;
    }

    .blok {
        border: 2px solid lime;
        border-radius: 0.625rem;
        box-shadow: 0 0 1.25rem lime;
        padding: 2.5rem;
        margin: 5rem;
    }
}
/* #endregion */